In [1]:
import numpy as np
import pandas as pd

%matplotlib inline

# Load dataset

In [2]:
df_telco = pd.read_csv('telco_customer_churn.csv', header=0)

# Identify categorical and numeric columns

In [3]:
df_telco.drop(columns=['CustomerID'], inplace=True)

In [4]:
# df_telco.nunique()

In [5]:
set(df_telco['PaymentMethod'])

{'Bank transfer (automatic)',
 'Credit card (automatic)',
 'Electronic check',
 'Mailed check'}

In [6]:
# Store categorical column names
categorical = df_telco.nunique()[df_telco.nunique() < 5].keys().tolist()
categorical.remove('Churn')
print(categorical)

['Gender', 'SeniorCitizen', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod']

In [7]:
# Store numerical column names
numerical = [x for x in df_telco.columns if x not in categorical]
numerical.remove('Churn')
print(numerical)

['Tenure', 'MonthlyCharges', 'TotalCharges']

## One-Hot encoding

In [8]:
df_telco_encoded = pd.get_dummies(data=df_telco, columns=categorical, drop_first=True)

In [9]:
df_telco_encoded.head()

,Tenure,MonthlyCharges,TotalCharges,Churn,Gender_Male,SeniorCitizen_Yes,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,...,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,1,29.85,29.85,0,False,False,True,False,False,True,...,False,False,False,False,False,False,True,False,True,False
1,34,56.95,1889.50,0,True,False,False,False,True,False,...,False,False,False,False,True,False,False,False,False,True
2,2,53.85,108.15,1,True,False,False,False,True,False,...,False,False,False,False,False,False,True,False,False,True
3,45,42.30,1840.75,0,True,False,False,False,False,True,...,False,False,False,False,True,False,False,False,False,False
4,2,70.70,151.65,1,False,False,False,False,True,False,...,False,False,False,False,False,False,True,False,True,False